

.img-main {
  width: 650px;
  height: 650px;
  margin-top: 50px;
  margin-left: 780px;
}

.landing-home {
  position: absolute;
  padding-left: 0px;
  padding-top: 12px;
  top: 2px;
  left: 100px;
  border: none;
}
.landing-btn {
  position: absolute;
  top: 18px;
  left: 1200px;
}

.landing-btn-signup {
  position: absolute;
  top: 18px;
  left: 1350px;
}

.landing-btn-signup,
.landing-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #50b6e6;
  border-radius: 30px;
  color: #fff;
}

.landing-btn-signup,
.landing-btn:hover {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  color: #50b6e6;
}

.landing-page .title-landing {
  position: absolute;
  text-align: center;
  color: #50b6e6;
  font-size: 76px;
  top: 200px;
  left: 80px;
  font-family: 'DM Serif Display', serif;
}

/*.title-landing-sec{*/
/*  position: absolute;*/
/*  text-align: center;*/
/*  color: #fff;*/
/*  font-size: 72px;*/
/*  top: 270px;*/
/*  left: 80px;*/
/*}*/

.title-para {
  position: absolute;
  text-align: left;
  color: #50b6e6;
  font-size: 50px;
  top: 350px;
  left: 80px;
}

.title-content{
  max-width: 500px;
  position: absolute;
  text-align: left;
  word-spacing: 1.5px;
  color: #d9a779;
  font-size: 18px;

  top: 340px;
  left: 80px;
}
