input,
textarea,
select {
    font-family: "Raleway", sans-serif;
}

::after,
::before {
    box-sizing: border-box;
}

.section {
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

.row-contact {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin: 0;
    position: relative;
}
.section-title h2::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.main-content {
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.hidden {
    display: none !important;
}

.contact .contact-info-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .bx {
    font-size: 40px;
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    font-weight: 400;
}

.contact .contact-form {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #d4d4e3;
    padding: 10px 25px;
    font-size: 16px;
    color: #504e70;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .form-item .form-control:focus {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}


.btn {
    font-size: 16px;
    color: #ffffff;
    background-color: #8b5e34;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    padding: 12px 35px;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    border: none;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}