.image-ca
{
  max-width: 050%;
}
.max-width{
  padding-top: 1rem;
  margin: auto;
  max-width: 80em;
}
.image-left, .image-right
{
  margin: 1em 0;
}

@media (min-width: 20em)
{
  .image-left, .image-right
  {
    display: flex;
    align-items: center;
  }

  .image-left img
  {
    margin-right: 1em;
    float: left; /* fallback */
  }

  .image-right img
  {
    order: 1;
    margin-left: 1em;
    float: right; /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after,
  .image-right::after
  {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 30em)
{
  .image-left img, .image-right img
  {
    flex-shrink: 0;
  }
}

.ca{
  padding-left: 20px;
  font-size: 22px;
  color: #1a1a1a;
  padding-top: 100px;

  font-family: 'Lato', sans-serif;
}

.para{
  color: #1a1a1a;
  padding-left: 20px;
  padding-top: 50px;
  font-size: 16px;
  word-spacing: 1px;
}