.image-ca
{
  max-width: 050%;
}
.max-width{
  padding-top: 1rem;
  margin: auto;
  max-width: 80em;
}
.image-left, .image-right
{
  margin: 1em 0;
}

@media (min-width: 20em)
{
  .image-left, .image-right
  {
    display: flex;
    align-items: center;
  }

  .image-left img
  {
    margin-right: 1em;
    float: left; /* fallback */
  }

  .image-right img
  {
    order: 1;
    margin-left: 1em;
    float: right; /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after,
  .image-right::after
  {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 30em)
{
  .image-left img, .image-right img
  {
    flex-shrink: 0;
  }
}

.ca{
  padding-left: 20px;
  font-size: 22px;
  color: #1a1a1a;
  padding-top: 100px;

  font-family: 'Lato', sans-serif;
}

.para{
  color: #1a1a1a;
  padding-left: 20px;
  padding-top: 50px;
  font-size: 16px;
  word-spacing: 1px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

/*font-size: 16px;*/
/*color: #ffffff;*/
/*background-color: #8b5e34;*/
/*font-weight: 500;*/
/*font-family: "Raleway", sans-serif;*/
/*padding: 12px 35px;*/
/*border-radius: 40px;*/
/*-webkit-transition: all 0.3s ease;*/
/*transition: all 0.3s ease;*/
/*white-space: nowrap;*/
/*border: none;*/
.custom-file-input::before {
  content: 'Upload Resume and Cover Letter';
  display: inline-block;
  background: #8b5e34;
  border: none;
  border-radius: 40px;
  padding: 12px 35px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.contact-sub{
  display: flex;
  gap: 1rem;
}