@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);



/*/ start count stats /*/

section#counter-stats {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 150px;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.stats .fa {
    color: #8b5e34;
    font-size: 60px;
}

.stats .fa:hover {
    color: #8b9199;
    font-size: 60px;
}

.stats-head{
    text-align: center;
    font-size: 40px;
    color: #8b5e34;
}

.stats-head:hover{
    color: #8b9199;
}

/*/ end count stats /*/