
.secondary-footer {
    background-color: #8b5e34;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}


.wrapper-text {
   color: #ffffff;
}






